{% extends "layout.jinja2" %}
{% block css %}
    <link rel="stylesheet" href="{{request.static_url('saltstack_frontend:static/css/simple-line-icons.css')}}">
{% endblock css %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card bg-primary text-white">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">Minions
          <i class="icon-ghost"></i>
        </div>
        <div class="text-value">
          {{ minions.minions|length }} / {{ minions['ssh-minions']|length }}
        </div>
        <small class="text-muted text-uppercase font-weight-bold">Minions / SSH-Minions</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-warning text-white">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">Pillars
          <i class="icon-playlist"></i>
        </div>
        <div class="text-value">
          {{ pillars|length }}
        </div>
        <small class="text-muted text-uppercase font-weight-bold">files</small>
      </div>
    </div>
  </div>  
  <div class="col">
    <div class="card bg-gray-800 text-white">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">Other?
          <i class="icon-briefcase"></i>
        </div>
        <div class="text-value">??</div>
        <small class="text-muted text-uppercase font-weight-bold">...</small>
      </div>
    </div>
  </div>  
  <div class="col">
    <div class="card bg-info text-white">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">Job Cache
          <i class="icon-briefcase"></i>
        </div>
        <div class="text-value">{{ jobs|length }}</div>
        <small class="text-muted text-uppercase font-weight-bold">JOBS</small>
      </div>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-12">
  	<div class="card">
        <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <table class="table table-sm" id="table1">
          <thead>
            <th>Data</th>
            <th>Minions</th>
          </thead>
          <tbody>
            <tr>
              <td>Uno</td><td>Due</td>
            </tr>
            <tr>
              <td>tre</td><td>tre</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script src="{{request.static_url('saltstack_frontend:static/js/jquery.dataTables.js')}}"></script>
<script src="{{request.static_url('saltstack_frontend:static/js/dataTables.bootstrap4.js')}}"></script>
<script>
  $(document).ready( function () {
    $('#table1').DataTable( {
      ordering: true
    });
} );
</script>
{% endblock js %}