{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="col-3">
  	<div class="card">
      <div class="card-header">
      Minions (total: {{ minions_total }})
      {%- if minions_failed %}
      <span class="badge badge-danger float-right">Failed: {{ minions_failed }}</span>
      {% endif %}
      </div>
    <!-- <div class="card-body"> -->
      <div class="list-group">
      {% for minion in minions_job_result.keys()|sort %}
        {% set status_class = "list-group-item-danger" if minions_job_result[minion]['failed'] else "" %}
        <a class="list-group-item list-group-item-action {{ status_class }}" href="{{ request.path }}?minion={{ minion }}">
        <span class="badge badge-secondary badge-pill">{{ minions_job_result[minion]['num_steps']}}</span>&nbsp{{ minion }}</a>
      {% endfor %}
      </div>
    <!-- </div> -->
    </div>
  </div>
  <!-- Job details card -->
  <div class="col-9">
  	<div class="card">
      {% if minion_id %}
      <div class="card-header" id="minion-details"><i class="cui-justify-center"></i>{{ minion_id }}</div>
      <ul class="list-group">
        {# Change background on different status result #}
        {%- for step in minions_job_result[minion_id]['data'] %}
        {%- if minions_job_result[minion_id]['num_steps'] > 0 %}
        {%- if minions_job_result[minion_id]['data'][step]['result'] == False %}
        {%- set step_status_class = "list-group-item-danger" %}
        {%- elif minions_job_result[minion_id]['data'][step]['result'] == None %}
        {%- set step_status_class = "list-group-item-info" %}
        {%- else %}
        {%- set step_status_class = "" %}
        {% endif %}
        <li class="list-group-item list-group-item-action {{ step_status_class }}">
          <div class="d-flex w-100">
            <span class="job-title" id="job-title-{{ loop.index }}">
              {{step + 1 }} - {{ minions_job_result[minion_id]['data'][step]['__id__']|default(minions_job_result[minion_id]['data'][step]['steps_id']) }}
            </span>
          </div>
          <p class="mb-1 job-step">
            {% if 'retcode' in minions_job_result[minion_id]['data'][step]['changes'] %}
            ---stdout---<br>
            <small>
              {{ minions_job_result[minion_id]['data'][step]['changes']['stdout']|replace('\n','<br>'|safe) }}
            </small>
            {% if minions_job_result[minion_id]['data'][step]['changes']['stderr']|length > 0 %}
            <br>---stderr---<br>
            <small>
              {{ minions_job_result[minion_id]['data'][step]['changes']['stderr']|replace('\n','<br>'|safe) }}
            </small>
            {% endif %}
            {% else %}
            {{ minions_job_result[minion_id]['data'][step]['comment']|replace('\n','<br>'|safe) }}
            <br><small>{{ minions_job_result[minion_id]['data'][step]['changes']|replace('\n','<br>'|safe) }}</small>
            {% endif %}
          </p>
        </li>
        {% else %}
          <li class="list-group-item list-group-item-action">{{ step|e }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <div class="card-header" id="minion-details"><i class="cui-justify-center"></i>Jobs steps</div>
      <div class="card-body">Click on a minion name to see jobs output windows</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
$(".job-step").hide();
$(".job-title").css( 'cursor', 'pointer' );
$(".job-title").click(function(){
  $(this).toggleClass("font-weight-bold");
  $(this).parent().next().toggle();
});
</script>
{% endblock js %}
